/* home page */
#home {
    background-image: url(../images/mountains1.png);
    height: 100%;
    
}
#content {
    height: 75%;
    width: 600px;
    background-color: grey;
    opacity: 0.5;
    color: white;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}
#bold{
    font-size: 30px;
    margin: 100px;
    opacity: 1.0;
}
#tag{
    font-size: 25px;
    margin-top: 100px;
    margin-bottom: 100px;
    opacity: 1.0;
}
.homelink {
    color: white;
    font-size: 20px;
    margin: 20px;
    font-weight: bold;
}
/* about me */
#about{
    background-image: url(../images/trees.jpg);
    
}
 
#aboutcontent {
    margin: 0 auto;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    width: 1000px;
    height: 550px;
    background-color: white;
    margin-top: 50px;
    color: grey;
    /* opacity: 0.9; */
}
#agpic {
    margin: 50px;
    float: left;    
    opacity: 1.0;
}
#name{
    font-size: 40px;
    text-align: center;
}
#nav{
    margin: 0 auto;
    width: 500px;
    background-color: white;
    color: grey;
}
.aboutlink:visited {
    color:grey;
}
.aboutlink{
    margin: 30px;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    color: grey;
}
.aboutlink:visited {
    color: grey;
}
#header {
    background-color: white;
    height: 50px;
}
/* portfolio */
.card {
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 25px;
    float: left;
    background-color: rgb(25, 11, 39);
    
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
    padding: 2px 16px;
}
.cardimg{
    height: 300px;
    width: 300px;
    margin: 25px;
}
#portfolio {
    background-image: url(../images/bulbs.jpg)
}
#portfoliocontent {
    margin: 0 auto;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    width: 800px;
    margin-top: 50px;
    text-align:center;
    color:white;
}
#headerpro {
    background-color: rgb(25, 11, 39);
    height: 50px;
}
#navpro {
    background-color: rgb(25, 11, 39);
    margin: 0 auto;
    width: 500px;
}
.prolink{
    margin: 30px;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    color: white;
}
.prolink:visited {
    color: white;
}
.cardlinks{
    color:white;
}
.cardlinks:visited {
    color: white;
}
#portfoliotitle {
    font-size: 40px;
    margin: 20px;
}
.space{
    height:20px;
}
/* contact */
#contact{
    background-image: url(../images/keys.jpg)
}
#navcon {
    background-color:grey;
    width: 500px;
    margin: 0 auto;
}
#headercon{
    background-color: grey;
    height: 50px;
}
#contactcontent {
    margin: 0 auto;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    width: 400px;
    background-color:grey;
    margin-top: 50px;
    text-align:center;
}
#contactinfo {
    font-size: 35px;
    margin: 30px;
    margin-top:1px;
    color: white;

}
.contactlink {
    margin:20px;
    color: white;
}
.contactlink:visited {
    color:white;
}
#email{
    margin:20px;
    color:white;
}
@media screen and (max-width: 768px) {
    #aboutcontent {
        width:100%;
        height:1150px;
    }
    #portfoliocontent{
        width:100%;
    }
    #contactcontent{
        width:100%;
    }
    #home {
        width:100%;
    }


}


